.project-info {
  width: 90%;
  margin: 5px auto;
}

.project-info__button {
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}

.project-info__title {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.project-info-bold {
  font-weight: bold;
}
